.card {
    height: 410px;
    width: 250px; 
}


.card-img-top {
    object-fit: cover;
    height: 310px; /* Ou o valor que você definiu anteriormente */
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
}


.card-body {
    height: calc(100% - 250px); 
    overflow-y: auto; 
}

.card-body::-webkit-scrollbar {
    display: none; 
}

