<h2 class="text-center mt-5">Filmes Favoritos</h2>
<div id="favoritos-container" class="row">
    <!-- Os filmes favoritos serão renderizados aqui dinamicamente -->
</div>

<script src="/js/favoritos.js"></script>